/* Tabs */
.react-swipeable-view-container {
  height: 100%;
}

/* Google Maps */
.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}
.pac-item {
  font-family: "Baloo 2", -apple-system;
}
